<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send" />
</form>

<br><hr><br>
{% if document_list %}
    <ul>
    {% for doc in document_list %}
        {% if doc.file_attached %}
            <li><a href="{% url 'upload:view' doc.file_attached %}">{{ doc }}</a></li>
        {% else %}
            <li>{{doc}}</li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No documents are available.</p>
{% endif %}
